.App {
  font-size: 16px;
  /*background-image: linear-gradient(to right top, #845ec2, #d65db1, #ff6491, #ff9671);*/
  /*background-image: url('https://images.pexels.com/photos/205414/pexels-photo-205414.jpeg?cs=srgb&dl=address-book-black-and-white-business-205414.jpg&fm=jpg');*/
  /*background-size: cover;*/
  min-height: 1080px;
}

.title {
  padding: 1em;
  color: #f8f8ff;
  text-align: center;
  margin: 0;
}
.addressForm {
  margin: auto;
  width: 50%;
  border-radius: 3px;
  background-image: linear-gradient(to right, #207ed2, #0091d5, #00a0cf, #00aec3, #1fb9b4);
  padding: 20px;
  box-shadow: 5px 5px 15px #725394;
  margin-bottom: 1.5em;
}

.formFeild {
  width: 100%;
  padding: 12px 20px;
  margin: 16px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 100px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.submissionBtn {
  /*width: 140px;*/
  padding: 0 3.7em;
  height: 45px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: block;
  margin: 16px auto 0 auto;
  text-align: center;
}

.submissionBtn:hover {
  background-color: #45cea2;
  box-shadow: 0px 7px 20px #aaccee;
  color: white;
  transform: translateY(-3px);
}

.contactBook {
  background-color: #c8d2f4;
  min-height: 200px;
  padding: 1em;
  max-width: 90%;
  margin: 1em auto;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #725394;
}

.listTitle {
  color: white;
}

.contactsList {
  list-style: none;
  color: #6f6c6c;
  background-color: #f8f8ff;
  border-bottom: 1px solid #d3d7d8;
  padding: 12px;
  margin: .5em auto;
  border-radius: 100px;
  display: grid;
  grid-template-columns: 70% 30%;
}

.contactInfo {
  align-self: center;
  margin-left: .5em;
}

.btns {
  display: inline-block;
  margin-left: auto;
  margin-right: 0;
}

.listBtn {
  color: white;
  background: #a8bef7;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  display: inline-block;
  height: auto;
  width: auto;
  margin: 4px 8px;
  transition: all 0.3s ease 0s;
  padding: .5em .8em;
  box-shadow: 5px 5px 15px #aaaaaa;
}
.listBtn:hover {
  /*animation for hover*/
  transform: translateY(-2px);
}

.listBtn:last-child {
  margin-right: .5em;
}