.App {
  font-size: 16px;
  background-image: linear-gradient(to right top, #845ec2, #d65db1, #ff6491, #ff9671);
  /*background-image: url('https://images.pexels.com/photos/205414/pexels-photo-205414.jpeg?cs=srgb&dl=address-book-black-and-white-business-205414.jpg&fm=jpg');*/
  /*background-size: cover;*/
  height: 1080px;
}

.title {
  padding: 1em;
  color: white;
  text-align: center;
  margin: 0;
}
.addressForm {
  margin: auto;
  width: 50%;
  border-radius: 3px;
  background-image: linear-gradient(to right, #207ed2, #0091d5, #00a0cf, #00aec3, #1fb9b4);
  padding: 20px;
  box-shadow: 5px 5px 15px #725394;
  margin-bottom: 1.5em;
}

.formFeild {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 100px;
  box-sizing: border-box;
}

.submissionBtn {
  color: white;
  width: 100%;
  background: #23E4DE;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.contactBook {
  background-color: #e0edf0;
  min-height: 200px;
  padding: 1em;
  max-width: 90%;
  margin: 1em auto;
  border-radius: 3px;
  box-shadow: 5px 5px 15px #725394;
}

.listTitle {
  color: purple;
}

.contactsList {
  list-style: none;
  color: #6f6c6c;
  background-color: white;
  border-bottom: 1px solid #d3d7d8;
  padding: 12px;
  margin: .5em auto;
  border-radius: 100px;
}

.btns {
  display: inline-block;
  margin-left: auto;
  margin-right: 0;
}

.listBtn {
  color: white;
  background: #a8bef7;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  display: inline-block;
  height: auto;
  width: auto;
  margin: 4px 8px;
  margin-right: 0px;
  padding: .5em .8em
}